<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="images/micron-logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello From Micron!!</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>

<body class="first-color">
    <div class="header fourth-color">
        <img class="header-logo" src="images/micron-logo.png" />
        Hi, i'm micron, with me you can build amazing API Restfull... and much more!
    </div>
    <div class="main">
        <div class="card-left">
            <div class="card-text">
                <div class="title">Write incredible fast Web Application!</div>
                <div>
                    Micron is born for build API REST, and this work in an excellent way. You had support for Database,
                    Response, Data manipulation, Logging, Files upload, Files storage and Files download...
                    and with the last version of Micron you can serve static resources.... this means that you can build
                    a frontend! Feel free to extend Micron using wich templating framework you prefer. Last but not least with the autodiscover function 
                    you have only to create your resources (implementing Resource interface) and Micron will automatically listen for your endpoint. 
                </div>
            </div>
            <div class="">
                <img class="card-image" src="/screens/screen1.png" />
            </div>
        </div>
        <div class="card-left">
            <div class="card-list">
                <div class="list-container">
                    <div class="list-item">Authentication</div>
                    <div class="list-item">Authorization</div>
                    <div class="list-item">Content-Type Check</div>
                </div>
                
            </div>
            <div class="card-text">
                <div class="title">Feel the power of the Middleware!</div>
                <div>
                    With Micron's Middleware the "JWT Token authenticaion control", authorization and request content-type
                    are fully managed by the framework. However you can personalize this behavior for every endpoint! 
                </div>
            </div>
        </div>
    </div>
</body>

</html>